
body {
	font-size: xx-large;
	margin: 0;
	font-weight: 100;
	box-sizing: border-box;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.conatiner{
	height: 100vh;
	position: relative;
	width: 100vw;
	display: flex;
	justify-content: center;
	background-position: center;
	align-items: center;
	background-size: cover;
	background-repeat: no-repeat;
}
.text{
	transition: 0.2s;

}
.text:hover{
	color: white;
	transition: 0.2s;
}
.text span{
	text-decoration: underline;
}