<svelte:options tag="frame-carousel" immutable={true} />

<script>
	export let text_before;
	export let text_after;
	export let data;
	export let href;
	export let speed = 150;
	export let placeholder;
	let parsed = JSON.parse(data);
	$: active = placeholder;
	$: activeImg = "";
	$: count = 0;
	let interval;
	
	const actives = () => {
		interval = setInterval(() => {
			if (count == parsed.length) count = 0;
			active = parsed[count].title;
			activeImg = parsed[count].img;
			count++;
		}, speed);
	};

	const reset = () => {
		clearInterval(interval);
		count = 0;
		active = placeholder;
		activeImg = "#";
	};
</script>

<div class="conatiner" style={`background-image:url(${activeImg})`}>
	<h1 on:mouseover={actives} on:mouseout={reset} class="text">
		{text_before} <span> {active}</span>
		{text_after}
	</h1>
</div>
<link rel="stylesheet" {href} />